= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'uk-panel uk-panel-box uk-form') do |f|
  .uk-form-row
    = devise_error_messages!
  .uk-form-row
    = f.email_field :email, autofocus: true, class: 'uk-width-1-1 uk-form-large'
  .uk-form-row
    = f.password_field :password, autocomplete: "off", class: 'uk-width-1-1 uk-from-large'
  .uk-form-row
    = f.password_field :password_confirmation, autocomplete: "off"
    .uk-form-row
    = f.submit "注册", class: 'ul-width-1-1 uk-button uk-button-primary uk-button-large'
-#= render "devise/shared/links"
