= form_for [:dashboard, @entity], class: 'uk-form', multipart: true do |f|
  %table.uk-table.uk-table-stripped.uk-table-hover
    %caption 模型
    %tr
      %td 文件夹
      %td= f.select :folder_id, options_from_collection_for_select(current_user.folders, 'id', 'name', f.object.folder_id), class: "uk-form-select"
    %tr
      %td 名称
      %td= f.text_field :name, class: 'uk-from-large'

    %tr
      %td 模型文件
      %td= f.file_field :skp_file

    %tr
      %td.uk-text-right{colspan: 2}
        = f.submit f.object.persisted? ? "修改" : "增加", class: 'uk-button'

