%p#notice= notice

%p
  %b Folder:
  = @entity.folder_id
%p
  %b Name:
  = @entity.name
%p
  %b Skp file:
  = @entity.skp_file

= link_to 'Edit', edit_entity_path(@entity)
\|
= link_to 'Back', entities_path
