%p#notice= notice

%p
  %b Name:
  = @vendor.name
%p
  %b Tel:
  = @vendor.tel
%p
  %b Address:
  = @vendor.address
%p
  %b Short desc:
  = @vendor.short_desc
%p
  %b Desc:
  = @vendor.desc

= link_to 'Edit', edit_vendor_path(@vendor)
\|
= link_to 'Back', vendors_path
