= form_for @material do |f|
  - if @material.errors.any?
    #error_explanation
      %h2= "#{pluralize(@material.errors.count, "error")} prohibited this material from being saved:"
      %ul
        - @material.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :vendor_id
    = f.number_field :vendor_id
  .field
    = f.label :icon
    = f.text_field :icon
  .field
    = f.label :price
    = f.text_field :price
  .actions
    = f.submit 'Save'
