%h1 Listing materials

%table
  %thead
    %tr
      %th Name
      %th Vendor
      %th Icon
      %th Price
      %th
      %th
      %th

  %tbody
    - @materials.each do |material|
      %tr
        %td= material.name
        %td= material.vendor_id
        %td= material.icon
        %td= material.price
        %td= link_to 'Show', material
        %td= link_to 'Edit', edit_material_path(material)
        %td= link_to 'Destroy', material, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Material', new_material_path
