%p#notice= notice

%p
  %b Name:
  = @material.name
%p
  %b Vendor:
  = @material.vendor_id
%p
  %b Icon:
  = @material.icon
%p
  %b Price:
  = @material.price

= link_to 'Edit', edit_material_path(@material)
\|
= link_to 'Back', materials_path
